<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2><%= @user.user_name %>のコメント一覧</h2>
    </div>
  </div>
  
  <hr>
  
  <div class="row py-4">
    <div class="table-responsive-xl">
      <table class="table border-top border-bottom text-nowrap offset-1">
        <thead class="bg-light">
          <tr>
            <th>コメントした元のレビューID</th>
            <th>コメントした元のレビュー内容</th>
            <th>コメントした日時</th>
            <th>コメントの内容</th>
            <th>コメントしたレビューの詳細ページ</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.post.id %></td>
              <td><%= comment.post.contents %></td>
              <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= comment.comment_contents %></td>
              <td><%= link_to "リンクへ", admin_player_post_path(comment.post.player.id, comment.post.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "マイページへ戻る", admin_user_path(@user.id), class: "btn btn-secondary" %>
    </div>
  </div>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "トップページへ", admin_root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>