<div class="container">
 
  <div class ="row">
    <div class="col-11 offset-1">
      <h2><%= @player.player_name %>のレビュー追加</h2>
    </div>
  </div>
  
  <hr>
  
  <%= form_with model: [@player,@post] do |f| %>
  <% f.hidden_field :player_id, :value => @player.id %>
    <div class ="row pt-5 pb-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :team_id, "対戦相手" %></div>
      <div class="col-6 col-md-3"><%= f.collection_select :team_id, Team.all,  :id, :team_name, class:"form-control" %></div>
    </div>
    <div class ="row py-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :game_date, "対戦日" %></div>
      <div class="col-6 col-md-3"><%= f.date_field :game_date, class:"form-control" %></div>
    </div>
    <div class ="row py-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :contents, "レビュー内容" %></div>
      <div class="col-6 col-md-3"><%= f.text_area :contents, rows: 7, class: "form-control" %></div>
    </div>
    <div class ="row py-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :stadium, "スタジアム" %></div>
      <div class="col-6 col-md-3"><%= f.select :stadium, Post.stadia_i18n.invert, {}, class: 'form-control' %></div>
    </div>
    <div class="row pt-4 pb-5">
      <div class="col-12 text-center">
        <%= f.submit "追加を完了する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "スレッドの一覧画面へ戻る", player_posts_path(@player.id), class: "btn btn-secondary" %>
    </div>
  </div>
  
</div>