<div class="container">
  <div class ="row">
    <div class="col-11 offset-1">
      <h2>コメントページ</h2>
    </div>
  </div>
  
  <hr>
  
  <div class ="row">
    <div class="col-7 offset-3">
      <%= @player.player_image.html_safe %>
    </div>
  </div>
  
  <hr>
  
  <div class="row pt-3">
    <div class="col-11 offset-1">
      <span><%= @post.id %>:</span>
      <span class="text-muted">ユーザー名: </span>
      <span class="text-success"><%= @post.user.user_name %></span>
      <span class="text-muted">レビュー日時: <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
      <span class="text-muted">対戦相手: <%= @post.team.team_name %></span>
      <span class="text-muted">対戦日: <%= @post.game_date %></span>
      <span class="text-muted">スタジアム: <%= @post.stadium_i18n %></span>
        <% if @post.favorited_by?(current_user) %>
      <span>
        <%= link_to player_post_favorite_path(@player.id, @post.id), method: :delete, class: "text-primary" do %>
          お気に入り数: ♥<%= @post.favorites.count %>
        <% end %>
      </span>
        <% else %>
      <span>
        <%= link_to player_post_favorites_path(@player.id, @post.id), method: :post, class: "text-primary" do %>
          お気に入り数: ♡<%= @post.favorites.count %>
        <% end %>
      </span>
        <% end %>
    </div>
  </div>
  
  <div class="row pt-4 pb-3">
    <div class="col-6 offset-4">
      レビュー内容: <span class="font-weight-bold"><%= @post.contents %></span>
      <% if @post.user == current_user %>
        <%= link_to "削除", player_post_path(@player.id,@post.id), method: :delete, class: "text-danger", "data-confirm" => "本当にこの投稿を削除しますか？" %>
      <% end %>
    </div>
  </div>
  
  <hr>
  
  <div class="row pt-3">
    <h5 class="col-11 offset-1">
      コメント一覧
    </h5>
  </div>
  
  <% @post.comments.each do |comment| %>
    <div class="row pt-2">
      <div class="col-7 offset-3">
        <span class="text-success"><%= comment.user.user_name %></span>
        <span class="text-muted">コメント日時: <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
      </div>
    </div>
    <div class="row pt-3 pb-4">
      <div class="col-6 offset-5">
        コメント内容: 
          <span class="font-weight-bold"><%= comment.comment_contents %></span>
          <span>
            <% if comment.user == current_user %>
              <%= link_to "削除", player_post_comment_path(@player,@post,comment), method: :delete, class: "text-danger", "data-confirm" => "本当にこのコメントを削除しますか？" %>
            <% end %>
          </span>
      </div>
    </div>
  <% end %>
  
  <hr>
  
  <%= form_with model: ([@player, @post, @comment]) do |f| %>
    <div class="row pt-5">
      <div class="col-12">
        <%= f.text_area :comment_contents, rows: '7', placeholder: "コメントを入力", class: "form-control" %>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-12 text-center">
        <%= f.submit "送信する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "この選手のレビュー一覧へ戻る", player_posts_path(@player.id), class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "選手一覧へ戻る", players_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>