<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2><%= @player.player_name %></h2>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col-8 col-md-6 offset-4 offset-md-5 offset-lg-6">
      <%= link_to "選手情報の編集", edit_admin_player_path(@player.id), class: "btn btn-success" %>
      <%= link_to "選手を削除する", admin_player_path(@player.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？削除した場合、この選手に関する投稿やコメントすべてが削除されます。" %>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-7 offset-3">
      <%= @player.player_image.html_safe %>
    </div>
  </div>
  
  <hr>
  
  <div class="row pt-3">
    <div class="col-9 offset-1">
      <h4><%= @player.player_name %>の選手情報</h4>
    </div>
  </div>
  
  <div class="row pt-5">
    <div class="col-7 offset-5">
      国籍: <%= @player.player_nationality %>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-7 offset-5">
      年齢: <%= @player.player_age %>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-7 offset-5">
      身長: <%= @player.player_height %>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-7 offset-5">
      体重: <%= @player.player_weight %>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-7 offset-5">
      ポジション: <% @player.tags.each do |tag| %>
                    [<%= tag.position %>]
                  <% end %>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-7 offset-5">
      管理人から一言: <%= @player.player_introduction %>
    </div>
  </div>
  <div class="row pt-4">
    <h5 class="col-11 text-right">
      <%= link_to admin_player_posts_path(@player.id) do %>
        <span class="text-info">
          >>この選手のレビュー一覧へ
        </span>
      <% end %>
    </h5>
  </div>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "選手一覧へ戻る", admin_players_path, class: "btn btn-secondary" %>
    </div>
  </div>
    
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "トップページへ", admin_root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>