<div class="container">
  <div class="row mb-5">
    <div class="col-lg-10">
      <label class="h4 bg-light"><%= @player.name %></label>
    </div>
  </div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>画像</td>
            <td><%= @player.player_image.html_safe %></td>
          </tr>
          <tr>
            <td>選手詳細</td>
            <td><%= @player.introduction %></td>
          </tr>
      </table>
 <%= link_to "編集する", edit_admin_player_path(@player.id), class:"btn btn-success" %>
</div>





  </div>
</div>

  <p>コメント件数：<%= @player.posts.count %></p>
  <% @player.posts.each do |post| %>
    <%= post.user.name %>
    <%= post.created_at.strftime('%Y/%m/%d') %>
    <%= post.content %>
  <% end %>

<%= form_with model:[@player,@post], url :player_posts_path, method: :post do |f| %>
    <%= f.collection_select :player_id, Player.all,  :id, :name  %>
    <%= f.text_field :opponent %>
    <%= f.text_field :content %>
    <%= f.label :stadium %>
    <%= f.label :home %>
    <%= f.radio_button :stadium, :home %>
    <%= f.label :away %>
    <%= f.radio_button :stadium, :away %>
    <%= f.submit "送信する" %>
  <% end %>
