<div class="py-4">
  <div class="container">
    <div class="row">
      <h2><span class="text-dark">リーグ一覧</span></h2>
    </div>

    <div class="row">
      <h5 class="col-12 text-right">
        <%= link_to new_admin_league_path do %>
          <span class="primary">＋リーグを追加する</span>
        <% end %>
      </h5>
    </div>

    <div class="row">
      <table class="table table-borderless border-top border-bottom">
        <tbody>
          <% @leagues.each do |league| %>
          <tr>
            <td class="align-bottom">
              <span class="text-dark"><%= league.league_name %></span>
            </td>
            <td class="align-bottom w-50"><%= league.league_image.html_safe %></td>
            <td class="align-bottom">
              <%= link_to admin_league_path(league.id) do %>
                <span class="text-dark border-bottom">
                  >><%= league.league_name %>の詳細へ
                </span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

      <div class="text-center">
        <%= link_to "トップページへ", admin_root_path, class: "btn btn-secondary" %>
      </div>
  </div>
</div>
