<div class="py-4">
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <% if @league.errors.any? %>
        <%= @league.errors.count %>件のエラーが発生しました
          <ul>
            <% @league.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    
    <div class ="row">
      <div class="col-12 offset-md-1">
        <h3>リーグ追加</h3>
      </div>
    </div>
    
    <%= form_with model: @league, url: admin_leagues_path, method: :post do |f| %>
      <div class ="row py-4 justify-content-center">
        <div class="col-3 col-md-2"><%= f.label :league_name, "リーグ名" %></div>
        <div class="col-6 col-md-4"><%= f.text_field :league_name, class: "form-control" %></div>
      </div>
      <div class ="row py-3 justify-content-center">
        <div class="col-3 col-md-2"><%= f.label :league_introduction, "リーグ概要文" %></div>
        <div class="col-6 col-md-4"><%= f.text_area :league_introduction, rows: 7, class: "form-control" %></div>
      </div>
      <div class ="row py-3 justify-content-center">
        <div class="col-3 col-md-2"><%= f.label :league_image, "リーグ画像(gettyの埋め込み画像のhtml)" %></div>
        <div class="col-6 col-md-4"><%= f.text_field :league_image, class: "form-control" %></div>
      </div>
      <div class ="row py-3">
        <div class="col-12 text-center">
          <%= f.submit "追加を完了する", class: "btn btn-primary" %>
        </div>
      </div>  
    <% end %>
    
    <div class ="row py-3">
      <div class="col-12 text-center">
        <%= link_to "リーグの一覧画面へ戻る", admin_leagues_path, class: "btn btn-secondary" %>
      </div>
    </div>
    
  </div>
</div>