<div class="py-4">
  <div class="container">
    <div class ="row">
      <h2><span class="text-dark">リーグ追加</span></h2>
    </div>

    <div class ="row">
      <% if @league.errors.any? %>
      <%= @league.errors.count %>件のエラーが発生しました
        <ul>
          <% @league.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="row">
      <%= form_with model: @league, url: admin_leagues_path, method: :post do |f| %>
      <table class ="table table-borderless">
        <tr>
          <td>リーグ名</td>
          <td><%= f.text_field :league_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td>リーグ概要文</td>
          <td><%= f.text_area :league_introduction, rows: 7, class: "form-control" %></td>
        </tr>
        <tr>
          <td>リーグ画像(gettyなどの埋め込み画像のhtml)</td>
          <td><%= f.text_field :league_image, class: "form-control" %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit '追加を完了する', class:"btn btn-primary" %>
    　         <% end %>
    　     </td>
          <td>
            <%= link_to "リーグの一覧画面へ戻る", admin_leagues_path, class:"btn btn-secondary" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>