<div class ="container">
  <div class ="row">
    <h3 class="col-md-4 text-center"><%= @league.name %></h3>
  </div>

  <div class ="row">
    <div class ="col-md-4 text-center">概要</div>
    <div class ="col-md-8 text-center"><%= @league.introduction %></div>
  </div>

  <div class ="row">
    <%= link_to "編集する", edit_admin_league_path(@league.id), class: "btn btn-success" %>
    <%= link_to "削除する", admin_league_path(@league.id), method: :DELETE, class: "btn btn-danger" %>
    <%= link_to "リーグ一覧へ戻る", admin_leagues_path, class: "btn btn-success" %>
  </div>

  <% @teams.each do |team| %>
    <tr>
          <td>
            <%= link_to admin_team_path(team.id) do %>
              <span class ="text-body border-bottom border-dark"><%= team.name %></span>
            <% end %>
          </td>
          <td><%= team.team_image.html_safe %></td>
          <td><%= team.introduction %></td>
        </tr>

  <% end %>
</div>
