<div class="container">
  
  <div class="row">
    <div class="col-11 offset-1">
      <h2><%= @user.user_name %>のいいね一覧</h2>
    </div>
  </div>
  
  <div class ="row py-4">
    <div class="table-responsive-xl">
      <table class ="table border-top border-bottom text-nowrap offset-lg-3">
        <thead class ="bg-light">
          <tr>
            <th>いいねした元の投稿ID</th>
            <th>いいねした元の投稿内容</th>
            <th>いいねした日時</th>
            <th>いいねした投稿の詳細ページ</th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
            <tr>
              <td><%= favorite.post.id %></td>
              <td><%= favorite.post.contents %></td>
              <td><%= favorite.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= link_to "リンクへ", player_post_path(favorite.post.player.id, favorite.post.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "マイページへ戻る", user_path(@user.id), class: "btn btn-secondary" %>
    </div>
  </div>

</div>