<div class="py-4">
  <div class="container">
    <div class ="row">
      <h2><span class="text-dark">リーグ追加</span></h2>
    </div>

    <div class ="row">
      <% if @team.errors.any? %>
      <%= @team.errors.count %>件のエラーが発生しました
        <ul>
          <% @team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="row">
      <%= form_with model: @team, url: teams_path, method: :post do |f| %>
      <table class ="table table-borderless">
        <tr>
          <td>リーグ名</td>
          <td><%= f.collection_select :league_id, League.all,  :id, :league_name  %></td>
        </tr>
        <tr>
          <td>チーム名</td>
          <td><%= f.text_field :team_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td>チーム概要文</td>
          <td><%= f.text_area :team_introduction, rows: 7, class: "form-control" %></td>
        </tr>
        <tr>
          <td>チーム画像(gettyなどの埋め込み画像のhtml)</td>
          <td><%= f.text_field :team_image, class: "form-control" %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit '追加を完了する', class:"btn btn-primary" %>
    　         <% end %>
    　     </td>
          <td>
            <%= link_to "チームの一覧画面へ戻る", teams_path, class:"btn btn-secondary" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
