<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2>リーグ一覧</h2>
    </div>
  </div>
  
  <hr>
  
  <% @leagues.each do |league| %>
    <div class="row pt-3 pb-1">
      <div class="col-10 offset-2">
        <h4><%= league.league_name %></h4>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-7 offset-3">
        <%= league.league_image.html_safe %>
      </div>
    </div>
    <div class="row pt-3">
      <h5 class="col-11 text-right">
        <%= link_to league_path(league.id) do %>
        　<span class="text-info">
            >><%= league.league_name %>のチーム一覧へ
          </span>
        <% end %>
      </h5>
    </div>
  <% end %>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "トップページへ", root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>