<div class="py-4">
 <div class ="container">
  <div class ="title">
    <div class ="row">
      <h2><span class="text-dark">リーグ一覧</span></h2>
    </div>
  </div>

  <div class ="body">
    <div class ="row">
    <table class ="table table-borderless border-top border-bottom">

      <tbody>
        <% @leagues.each do |league| %>
        <tr>
          <td class="align-bottom">
            <%= link_to league_path(league.id) do %>
              <span class ="text-dark align-bottom"><%= league.name %></span>
            <% end %>
          </td>
          <td class="align-bottom w-50"><%= league.league_image.html_safe %></td>
          <td class="align-bottom">
            <%= link_to league_path(league.id) do %>
              <span class ="text-dark border-bottom align-bottom">>><%= league.name %>の詳細へ</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
