<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2>チーム編集</h2>
    </div>
  </div>
  
  <hr>
  
  <%= form_with model: @team, url: admin_team_path(@team.id), method: :patch do |f| %>
    <div class ="row pt-5 pb-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :league_id, "リーグ名" %></div>
      <div class="col-6 col-md-4"><%= f.collection_select :league_id, League.all,  :id, :league_name, class: "form-control" %></div>
    </div>
    <div class ="row py-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :team_name, "チーム名" %></div>
      <div class="col-6 col-md-4"><%= f.text_field :team_name, class: "form-control" %></div>
    </div>
    <div class ="row py-4 justify-content-center">
      <div class="col-3 col-md-2"><%= f.label :team_image, "チーム画像(gettyの埋め込み画像のhtml)" %></div>
      <div class="col-6 col-md-4"><%= f.text_field :team_image, class: "form-control" %></div>
    </div>
    <div class="row pt-4 pb-5">
      <div class="col-12 text-center">
        <%= f.submit "編集を完了する", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "チームの詳細画面へ戻る", admin_team_path(@team.id), class: "btn btn-secondary" %>
    </div>
  </div>
</div>