<div class="container">
  
  <div class="row">
    <div class="col-11 offset-1">
      <h2>チーム一覧</h2>
    </div>
  </div>
  
  <div class="row">
    <h5 class="col-5 col-lg-4 offset-7">
      <%= link_to new_admin_team_path do %>
        <span class="text-info">
          ＋チームを追加する
        </span>
      <% end %>
    </h5>
  </div>
  
  <hr>
  
  <% @teams.each do |team| %>
    <div class="row pt-3 pb-1">
      <div class="col-10 offset-2">
        <h4><%= team.team_name %></h4>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-7 offset-3">
        <%= team.team_image.html_safe %>
      </div>
    </div>
    <div class="row pt-3">
      <h5 class="col-11 text-right">
        <%= link_to admin_team_path(team.id) do %>
          <span class="text-info">
            >><%= team.team_name %>の選手一覧へ
          </span>
        <% end %>
      </h5>
    </div>
  <% end %>
  
  <hr>
  
  <div class="row py-3">
    <div class="col-12 text-center">
      <%= link_to "トップページへ", admin_root_path, class: "btn btn-secondary" %>
    </div>
  </div>

</div>